body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;

  background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e") no-repeat center center/cover;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 0;
}

.card {
  position: relative;
  z-index: 1;
  backdrop-filter: blur(15px);
  background: rgba(255,255,255,0.1);
  padding: 30px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
  box-shadow: 0 8px 30px rgba(0,0,0,0.3);
  animation: fadeIn 1s ease;
}

h1, #total {
  color: white;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background: #00c6ff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  background: #0072ff;
}

.logout {
  background: red;
}

.logout:hover {
  background: darkred;
}

#msg {
  color: #00ffcc;
  margin-top: 10px;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}